---
import BlogCard from '@/components/BlogCard.astro'
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import PaginationComponent from '@/components/ui/pagination'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getAllPosts } from '@/lib/data-utils'
import type { PaginateFunction } from 'astro'

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction
}) {
  const allPosts = await getAllPosts()
  return paginate(allPosts, { pageSize: SITE.postsPerPage })
}

const { page } = Astro.props
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title={page.lastPage === 1 ? 'Blog' : `Blog - Page ${page.currentPage}`} />
  <Breadcrumbs
    items={[
      { label: 'Blog', href: '/blog', icon: 'lucide:library-big' },
      { label: `Page ${page.currentPage}`, icon: 'lucide:book-copy' },
    ]}
  />

  <div class="flex min-h-[calc(100vh-18rem)] flex-col">
    <h2 class="mt-8 mb-4 text-3xl font-semibold">
      {
        page.lastPage === 1 ? (
          <>
            {page.total} blog post{page.total === 1 ? '' : 's'}
          </>
        ) : (
          <>
            {(page.currentPage - 1) * SITE.postsPerPage + 1} -{' '}
            {Math.min(page.currentPage * SITE.postsPerPage, page.total)} of{' '}
            {page.total} blog post{page.total === 1 ? '' : 's'}
          </>
        )
      }
    </h2>
    <ul class="flex flex-col gap-4 gap-y-6">
      {
        page.data.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
  </div>

  <PaginationComponent
    currentPage={page.currentPage}
    totalPages={page.lastPage}
    baseUrl="/blog/"
    client:load
  />
</Layout>
