---
import AuthorCard from "@/components/AuthorCard.astro"
import BlogCard from "@/components/BlogCard.astro"
import MetaPage from "@/components/MetaPage.astro"
import Layout from "@/layouts/Layout.astro"
import { getPosts } from "@/lib/content"
import { getCollection, type CollectionEntry } from "astro:content"

export async function getStaticPaths() {
  const authors = await getCollection("authors")
  return authors.map((author) => ({
    params: { id: author.id },
    props: { author },
  }))
}

type Props = { author: CollectionEntry<"authors"> }

const { author } = Astro.props
const { name, bio } = author.data

const posts = (await getPosts()).filter((post) =>
  post.data.authors.some((ref) => ref.id === author.id),
)
---

<Layout crumbs={[{ label: name, href: `/authors/${author.id}` }]}>
  <MetaPage slot="head" title={`${name} (Author)`} description={bio} noindex />
  <header>
    <ul>
      <AuthorCard author={author} />
    </ul>
  </header>

  <section>
    <h2>Posts</h2>
    {posts.length > 0 ? (
        <ul>
          {posts.map((post) => (
            <BlogCard post={post} />
          ))}
        </ul>
      ) : (
        <p>No posts yet.</p>
      )}
  </section>
</Layout>

<style>
  header {
    margin-block-end: var(--space-l);
  }

  section {
    h2 {
      margin-block-end: var(--space-s);
      font-size: var(--step-1);
      line-height: calc(var(--leading-offset) + 1em);
      font-weight: var(--font-weight-medium);
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: var(--space-m);
    }

    > p {
      color: var(--muted-foreground);
    }
  }
</style>
