---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import WorkCard from '@/components/WorkCard.astro'
import PaginationComponent from '@/components/ui/pagination'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getAllFandoms, getWorksByFandom } from '@/lib/data-utils'
import type { PaginateFunction } from 'astro'

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction
}) {
  const fandomMap = await getAllFandoms()
  const uniqueFandoms = Array.from(fandomMap.keys())

  return (
    await Promise.all(
      uniqueFandoms.map(async (fandom) => {
        const works = await getWorksByFandom(fandom)
        return paginate(works, {
          params: { fandom },
          pageSize: SITE.postsPerPage,
        })
      }),
    )
  ).flat()
}

const { page } = Astro.props
const { fandom } = Astro.params
---

<Layout class="max-w-3xl">
  <PageHead
    slot="head"
    title={`Works in ${fandom} - Page ${page.currentPage}`}
    description={`A collection of works in fandom ${fandom}.`}
    noindex
  />
  <Breadcrumbs
    items={[
      { href: '/fandoms', label: 'Fandoms', icon: 'lucide:star' },
      { label: fandom, icon: 'lucide:star' },
      { label: `Page ${page.currentPage}`, icon: 'lucide:book-copy' },
    ]}
  />

  <div class="flex min-h-[calc(100vh-18rem)] flex-col">
    {
      page.data.length > 0 && (
        <section class="mt-8">
          <h2 class="mb-4 text-3xl font-semibold">
            {page.lastPage === 1 ? (
              <>
                {page.total} work{page.total === 1 ? '' : 's'} in {fandom}
              </>
            ) : (
              <>
                {(page.currentPage - 1) * SITE.postsPerPage + 1} -{' '}
                {Math.min(page.currentPage * SITE.postsPerPage, page.total)} of{' '}
                {page.total} work{page.total === 1 ? '' : 's'} in {fandom}
              </>
            )}
          </h2>
          <ul class="flex flex-col gap-y-6">
            {page.data.map((work, index) => (
              <li>
                <WorkCard work={work} />
                {index < page.data.length - 1 && (
                  <div class="mb-8 flex items-center justify-center gap-4">
                    <div class="bg-muted-foreground/25 dark:bg-muted h-px w-16" />
                    <div class="bg-muted-foreground/25 dark:bg-muted h-1 w-1 rotate-45" />
                    <div class="bg-muted-foreground/25 dark:bg-muted h-px w-16" />
                  </div>
                )}
              </li>
            ))}
          </ul>
        </section>
      )
    }
  </div>

  <PaginationComponent
    currentPage={page.currentPage}
    totalPages={page.lastPage}
    baseUrl={`/fandoms/${fandom}/`}
    client:load
  />
</Layout>
