---
import type { CollectionEntry } from 'astro:content'
import Link from '@components/Link.astro'
import AvatarComponent from '@/components/ui/avatar'

type Props = {
  author: CollectionEntry<'authors'>
}

const { author } = Astro.props
const { name, avatar, bio } = author.data
---

<div
  class="rounded-xl border p-4 transition-colors duration-300 ease-in-out hover:bg-secondary/50"
>
  <Link href={`/authors/${author.slug}`} class="flex flex-wrap gap-4">
    <AvatarComponent
      client:load
      src={avatar}
      alt={`Avatar of ${name}`}
      fallback={name[0]}
      className="size-32 rounded-md"
    />
    <div class="flex-grow">
      <h3 class="mb-1 text-lg font-semibold">{name}</h3>
      <p class="text-sm text-muted-foreground">{bio}</p>
    </div>
  </Link>
</div>
