---
import type { ImageMetadata } from "astro";
import { Image, getImage } from "astro:assets";

interface Props {
	imageFolder: string;
}

const { imageFolder } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>("/src/content/albums/**/*.{jpeg,jpg,png}");
const imagePaths = Object.keys(images).filter((imagePath) => {
	return imagePath.startsWith(`/src/content/albums/${imageFolder}/`);
});
---

<div
	id="gallery"
	class="container mx-auto pb-2 grid grid-cols-1 md:grid-cols-2 gap-2 md:gap-4"
>
	{
		imagePaths.map(async (imagePath) => {
			let image = images[imagePath]();
			let optimizedImage = await getImage({
				src: image,
				width: 1920,
			});

			return (
				<a
					href={optimizedImage.src}
					data-pswp-width={optimizedImage.attributes.width}
					data-pswp-height={optimizedImage.attributes.height}
					target="_blank"
					class="overflow-hidden border-[1px] border-primary hover:border-secondary"
				>
					<Image
						src={image}
						alt={"altText"}
						height={400}
						class={
							"object-cover object-bottom w-full /* grayscale-[0%] hover:grayscale-0 */ transition duration-300 ease-in-out aspect-[3/2]"
						}
					/>
				</a>
			);
		})
	}
</div>

<script>
	import PhotoSwipeLightbox from "photoswipe/lightbox";
	import "photoswipe/style.css";

	let lightbox: PhotoSwipeLightbox;

	document.addEventListener("astro:page-load", () => {
        lightbox = new PhotoSwipeLightbox({
            gallery: "#gallery",
			showHideAnimationType: 'none',
			initialZoomLevel: 'fit',
			secondaryZoomLevel: 1,
            children: "a",
			showAnimationDuration: 300,
			padding: { top: 16, bottom: 16, left: 16, right: 16 },
			bgClickAction: 'close',
            pswpModule: () => import("photoswipe"),
        });

        lightbox.init();
    });

	document.addEventListener("astro:before-swap", () => {
        lightbox.destroy();
    });
</script>
