---
import type { ImageMetadata } from "astro";
import { Image, Picture, getImage } from "astro:assets";
import "photoswipe/style.css"

interface Props {
	imageFolder: string;
}

const { imageFolder } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>("/src/content/albums/**/*.{jpeg,jpg,png}");
const imagePaths = Object.keys(images).filter((imagePath) => {
	return imagePath.startsWith(`/src/content/albums/${imageFolder}/`);
}); // Returns list of all photos in album
let masonry = [
	[],
	[],
	[]
]
for (let i=0;i<imagePaths.length;i++) {
	const index = Math.floor(i%3);
	masonry[index].push(imagePaths[i]);
}
const imagePaths1 = masonry[0]
const imagePaths2 = masonry[1]
const imagePaths3 = masonry[2]
---

<div
	id="gallery"
	class="container mx-auto pb-2 grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-2"
>
	<div class="grid grid-cols-1 gap-4 lg:gap-2 h-full">

	{
		imagePaths1.map(async (imagePath) => {
			let image = images[imagePath](); // Gets specific image
			let optimizedImage = await getImage({
				src: image,
				width: 800,
			});
			return (
				<a
					href={imagePath}
					data-pswp-width={optimizedImage.attributes.width}
					data-pswp-height={optimizedImage.attributes.height}
					target="_blank"
					class="overflow-hidden border-[1px] border-secondary hover:border-secondary"
				>
					<Image
						src={optimizedImage.src}
						alt={"altText"}
						width={optimizedImage.attributes.width}
						height={optimizedImage.attributes.height}
						layout='fixed'
						class={
							"object-bottom w-full lg:h-full lg:w-auto lg:object-cover /* grayscale-[0%] hover:grayscale-0 */ transition duration-300 ease-in-out"
						}
					/>
				</a>
			);
		})
	}
	</div>
	<div class="grid grid-cols-1 gap-4 lg:gap-2 h-full">

	{
		imagePaths2.map(async (imagePath) => {
			let image = images[imagePath](); // Gets specific image
			let optimizedImage = await getImage({
				src: image,
				width: 800,
			});
			return (
				<a
					href={imagePath}
					data-pswp-width={optimizedImage.attributes.width}
					data-pswp-height={optimizedImage.attributes.height}
					target="_blank"
					class="overflow-hidden border-[1px] border-secondary hover:border-secondary"
				>
					<Image
						src={optimizedImage.src}
						alt={"altText"}
						width={optimizedImage.attributes.width}
						height={optimizedImage.attributes.height}
						layout='fixed'
						class={
							"object-bottom w-full lg:h-full lg:w-auto lg:object-cover /* grayscale-[0%] hover:grayscale-0 */ transition duration-300 ease-in-out"
						}
					/>
				</a>
			);
		})
	}
	</div>
	<div class="grid grid-cols-1 gap-4 lg:gap-2 h-full">

	{
		imagePaths3.map(async (imagePath) => {
			let image = images[imagePath](); // Gets specific image
			let optimizedImage = await getImage({
				src: image,
				width: 800,
			});
			return (
				<a
					href={imagePath}
					data-pswp-width={optimizedImage.attributes.width}
					data-pswp-height={optimizedImage.attributes.height}
					target="_blank"
					class="overflow-hidden border-[1px] border-secondary hover:border-secondary"
				>
					<Image
						src={optimizedImage.src}
						alt={"altText"}
						width={optimizedImage.attributes.width}
						height={optimizedImage.attributes.height}
						layout='fixed'
						class={
							"object-bottom w-full lg:h-full lg:w-auto lg:object-cover /* grayscale-[0%] hover:grayscale-0 */ transition duration-300 ease-in-out"
						}
					/>
				</a>
			);
		})
	}
	</div>
</div>

<script>
	import PhotoSwipeLightbox from "photoswipe/lightbox";
	import "photoswipe/style.css";

	let lightbox: PhotoSwipeLightbox;

	document.addEventListener("astro:page-load", () => {
        lightbox = new PhotoSwipeLightbox({
            gallery: "#gallery",
			showHideAnimationType: 'none',
			initialZoomLevel: 'fit',
			secondaryZoomLevel: 2,
            children: "a",
			bgOpacity: 0.8,
			showAnimationDuration: 300,
			padding: { top: 16, bottom: 16, left: 16, right: 16 },
			bgClickAction: 'close',
            pswpModule: () => import("photoswipe"),
        });

        lightbox.init();
    });

	document.addEventListener("astro:before-swap", () => {
        lightbox.destroy();
    });
</script>
