---
import { SITE } from '@/consts'
import type { CollectionEntry } from 'astro:content'

interface Props {
  post: CollectionEntry<'blog'>
}

const { post } = Astro.props

const postTitle = post.data.title || SITE.title
const postDescription = post.data.description || SITE.description
const fallbackImage = new URL('/static/1200x630.png', Astro.site)
---

<title>{`${postTitle} | ${SITE.title}`}</title>
<meta name="title" content={`${postTitle} | ${SITE.title}`} />
<meta name="description" content={postDescription} />
<link rel="canonical" href={SITE.href} />

<meta property="og:title" content={postTitle} />
<meta property="og:description" content={postDescription} />
<meta
  property="og:image"
  content={`${SITE.href}${post?.data?.image?.src}` || fallbackImage}
/>
<meta property="og:image:alt" content={postTitle} />
<meta property="og:type" content="website" />
<meta property="og:locale" content={SITE.locale} />

<meta name="twitter:title" content={postTitle} />
<meta name="twitter:description" content={postDescription} />
<meta
  property="twitter:image"
  content={`${SITE.href}${post?.data?.image?.src}` || fallbackImage}
/>
<meta name="twitter:image:alt" content={postTitle} />
<meta name="twitter:card" content="summary_large_image" />

{
  post?.data.tags &&
    post.data.tags.map((tag: string) => {
      return <meta property="article:tag" content={tag} />
    })
}
